@model DailySpendBudgetWebApp.Models.Transactions

@{
    string txtPayeeInfomration = "";
    string Payeecolor = "";
    if (Model.Payee == null || Model.Payee == "")
    {
        txtPayeeInfomration = "Select Payee";
        Payeecolor = "dark";
    }
    else
    {
        txtPayeeInfomration = Model.Payee;
        Payeecolor = "primary";
    }

    string txtCategoryInformation = "";
    string CategoryColor = "";
    if (Model.Category == null || Model.Category == "")
    {
        txtCategoryInformation = "Select Category";
        CategoryColor = "dark";
    }
    else
    {
        txtCategoryInformation = Model.Category;
        CategoryColor = "primary";
    }


    string txtSavingInformation = "";
    string SavingColor = "";
    bool isSavingsChecked = false;
    string SavingCategoryDisplay = "none";
    if (Model.isSpendFromSavings & (Model.SavingName != null | Model.SavingName != ""))
    {
        txtSavingInformation = @Model.SavingName;
        SavingColor = "primary";
        isSavingsChecked = true;
        SavingCategoryDisplay = "flex";

    }
    else
    {
        txtSavingInformation = "Select Category";
        SavingColor = "dark";
    }

    string txtDateInformation = DateTime.Now.ToString("dd MMMM yyyy");
    string DateColor = "dark";
    if(Model.TransactionDate != null)
    {
        txtSavingInformation = @Model.TransactionDate.GetValueOrDefault().ToString("dd MMMM yyyy");
        DateColor = "primary";
    }

    string AmountColor = "AmountRed";
    string AmountPlaceholder = "-£0.00";
    string AmountDatatype = "NegativeCurrency";
    bool rdbIncomingString = false;
    bool rdbOutgoingString = true;
    string txtTransactionAmount = "-" + String.Format("{0:c}", Model.TransactionAmount);
    if(Model.TransactionAmount == 0 | Model.TransactionAmount == null)
    {
        txtTransactionAmount = "";
    }
    if (Model.isIncome)
    {
        AmountColor = "AmountGreen";
        AmountPlaceholder = "£0.00";
        AmountDatatype = "PositiveCurrency";
        rdbIncomingString = true;
        rdbOutgoingString = false;
        txtTransactionAmount = String.Format("{0:c}", Model.TransactionAmount);
        if (Model.TransactionAmount == 0 | Model.TransactionAmount == null)
        {
            txtTransactionAmount = "";
        }
    }

    string jsloadIncoming = "";
    if (rdbIncomingString)
    {
        jsloadIncoming = "LoadTransactionIncoming(), formatCurrency($('#txtTransactionAmount'))";
    }
    else
    {
        jsloadIncoming = "LoadTransactionOutgoing(), NegativeformatCurrency($('#txtTransactionAmount'))";
    }
       

}

<div class="container p-0" style="min-height: 82vh;">
    <div>
        <div class="d-flex mb-1 ps-3 pe-3 justify-content-center">
            <div class="Transaction-Toggle col-11 bg-white" id="divTransactionType">
                <div class="d-flex justify-content-center align-items-center text-center">
                    <div class="col-6" id="divIncoming">
                        <input type="radio" id="rdbIncoming" name="TransactionToggleOption" value="Incoming" checked="@rdbIncomingString" />
                        <label style="font-size:10pt" for="rdbIncoming" class="lblTransactionToggleOption pe-0">
                            Incoming &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+
                        </label>
                    </div>
                    <div class="col-6 text-white" id="divOutgoing">
                        <input type="radio" id="rdbOutgoing" name="TransactionToggleOption" value="Outgoing" checked="@rdbOutgoingString" />
                        <label style="font-size:10pt" for="rdbOutgoing" class="lblTransactionToggleOption ps-0">
                             - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Outgoing 
                        </label>
                    </div>
                    <input asp-for="isIncome" type="hidden" value="@Model.isIncome" />
                </div>
            </div>
        </div>
    </div>
    <div id="divIsRegularSavingSelector" class="card text-white bg-white mt-5 mb-3 shadow rounded-5 border-dark" >
        <div id="divTransactionAmount" class="row justify-content-center align-items-center ms-2 me-2 mt-1">
            <input id="txtTransactionAmount" type="text" value="@txtTransactionAmount" style="cursor: pointer; width: 75%; font-size: 35pt;" data-type="@AmountDatatype" placeholder="@AmountPlaceholder" class="@AmountColor pe-2 pt-2 pb-2 text-center" onchange="UpdateHdnTransactionAmount()" />
            <input asp-for="TransactionAmount" type="number" style="display:none;" />
            <span class="text-danger" asp-validation-for="TransactionAmount"></span>
        </div>
        <div id="divTransactionDetails" class="mt-2 p-1">
            <div id="divPayee" class="bg-white">
                <button type="submit" asp-controller="Transaction" asp-action="SelectPayee" class="col-12 p-0" style="background-color: transparent; border: none;" >
                    <div class="d-flex justify-content-between">
                        <div class="text-left">
                            <p class="text-dark mt-3 mb-3 border-0 ps-2 h5">Payee</p>
                        </div>
                        <div class="text-right">
                            <p class="text-@Payeecolor mb-3 mt-3 pe-2 h5" id="txtPayeeInformation">@txtPayeeInfomration</p>
                        </div>
                    </div>                    
                </button>
                <input type="hidden" asp-for="Payee" value="@Model.Payee" />
            </div>
            <div id="divCategory" class="border-1 border-top border-dark bg-white">
                <a asp-controller="Transaction" asp-action="SelectCategory">
                    <div class="d-flex justify-content-between">
                        <div class="text-left">
                            <p class="text-dark mt-3 mb-3 ps-2 h5">Category</p>
                        </div>
                        <div class="text-right">
                            <p id="txtCategoryInformation" class="text-@CategoryColor mt-3 mb-3 pe-2 h5">@txtCategoryInformation</p>
                        </div>
                    </div>                    
                </a>
                <input type="hidden" asp-for="Category" />
                <input type="hidden" asp-for="CategoryID" />
            </div>
            <div id="divDate" class="border-1 border-top border-dark bg-white">
                <a onclick="">
                    <div class="d-flex justify-content-between">
                        <div class="text-left">
                            <p class="text-dark ps-2 mb-3 mt-3 h5">Date</p>
                        </div>
                        <div class="text-right">
                            <p class="text-@DateColor mt-3 mb-3 pe-2 h5" id="txtDateInformation">@txtDateInformation</p>
                        </div>
                        <input type="hidden" asp-for="TransactionDate" />
                    </div>
                </a>
            </div>
            <div id="divFromSaving" class="d-flex flex-column border-1 border-top border-dark bg-white">
                <div class="d-flex form-check form-switch align-items-center justify-content-between p-0">
                    <div class="d-flex justify-content-start align-items-center mt-3 mb-3">
                        <input asp-for="isSpendFromSavings" type="checkbox" class="h5 ms-2 mt-0 mb-0 form-check-input" checked="@isSavingsChecked" onclick="UpdateisSpendFromSavings()" />
                        <label class="form-check-label text-dark ps-3 mb-0 h5" for="isSpendFromSavings">
                            Spend Savings?!
                        </label>
                    </div>
                    <div id="divSavingCategory" class="border-1 border-dark mt-3 mb-3" style="display: @(SavingCategoryDisplay)">
                        <a asp-controller="Transaction" asp-action="SelectSaving" class="bg-white">
                            <div class="text-right d-flex justify-content-between">
                                <p class="text-@SavingColor pe-2 h5 mb-0" id="txtSavingInformation">@txtSavingInformation</p>
                            </div>
                        </a>
                        <input type="hidden" asp-for="SavingName" />
                        <input type="hidden" asp-for="SavingID" />
                    </div>
                </div>
            </div>
            <div id="divNote" class="mt-5 mb-4 align-items-start">
                <div class="d-flex ms-2 me-2"> 
                    <input asp-for="Notes" type="text" class="col-12 p-0 pt-2 m-0 border-bottom border-3 border-primary text-muted bg-white text-left h3" placeholder="Enter a note:" />
                </div>                
            </div>
        </div>
    </div>
</div>

<style>
    a:link {
        text-decoration: none;
    }
</style>

<script>

    $(document).ready(function () {
        $("#divCategory").hover(function () {
            $(this).addClass('bg-light').removeClass('bg-white');
        },
            function () {
                $(this).addClass('bg-white').removeClass('bg-light');
            });
    });

    $(document).ready(function () {
        $("#divPayee").hover(function () {
            $(this).addClass('bg-light').removeClass('bg-white');
        },
            function () {
                $(this).addClass('bg-white').removeClass('bg-light');
            });
    });

    $(document).ready(function () {
        $("#divDate").hover(function () {
            $(this).addClass('bg-light').removeClass('bg-white');
        },
            function () {
                $(this).addClass('bg-white').removeClass('bg-light');
            });
    });

    $(document).ready(@Html.Raw(jsloadIncoming))

    
    document.querySelectorAll('input[name="TransactionToggleOption"]').forEach(radio => {
        radio.addEventListener('click', HandleTransactionRadioClick);
    });

    function UpdateisSpendFromSavings(){
        if (document.getElementById('isSpendFromSavings').checked) 
        {
            LoadisSpendFromSavingsTrue();
        }
        else
        {
            LoadisSpendFromSavingsFalse();
        }
    }

    function LoadisSpendFromSavingsFalse()
    {
        document.getElementById('divSavingCategory').style.display = 'none'
    }

    function LoadisSpendFromSavingsTrue() {
        document.getElementById('divSavingCategory').style.display = 'block'
    }

    function HandleTransactionRadioClick() {
        if (document.getElementById('rdbOutgoing').checked) {
            LoadTransactionOutgoing();
            NegativeformatCurrency($("#txtTransactionAmount"))
        }
        else if (document.getElementById('rdbIncoming').checked) {
            LoadTransactionIncoming();
            formatCurrency($("#txtTransactionAmount"))
        }
    }

    function LoadTransactionIncoming() {
        document.getElementById('isIncome').value = true;
        document.getElementById('divIncoming').style.backgroundColor = '#38b44a';
        document.getElementById('divOutgoing').style.backgroundColor = '#fff';
        document.getElementById('rdbOutgoing').checked = false;
        document.getElementById('rdbIncoming').checked = true;
        $('#txtTransactionAmount').addClass('AmountGreen').removeClass('AmountRed');
        $('#txtTransactionAmount').attr('data-type', 'PositiveCurrency');
        $('#txtTransactionAmount').attr('placeholder', '£0.00');
        $("input[data-type='PositiveCurrency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });
    }

    function LoadTransactionOutgoing() {
        document.getElementById('isIncome').value = false;
        document.getElementById('divIncoming').style.backgroundColor = '#fff';
        document.getElementById('divOutgoing').style.backgroundColor = '#e95420';
        document.getElementById('rdbOutgoing').checked = true;
        document.getElementById('rdbIncoming').checked = false;
        $('#txtTransactionAmount').addClass('AmountRed').removeClass('AmountGreen');
        $('#txtTransactionAmount').attr('data-type', 'NegativeCurrency');
        $('#txtTransactionAmount').attr('placeholder', '-£0.00');
        $("input[data-type='NegativeCurrency']").on({
            keyup: function () {
                NegativeformatCurrency($(this));
            },
            blur: function () {
                NegativeformatCurrency($(this), "blur");
            }
        });
    }

    function UpdateHdnTransactionAmount() {
        var txtBillAmount = document.getElementById('txtTransactionAmount').value;
        var numBillAmount = txtBillAmount.replace('£', '').replace(',', '').replace('-', '');
        document.getElementById('TransactionAmount').value = numBillAmount;
    }



</script>