@model Budgets;

@{
    string txtPayAmount = String.Format("{0:c}", Model.PaydayAmount);
    string AmountPlaceholder = String.Format("{0:c}", 0.00);
    string txtDateInformation = "Select Date";
    if(Model.NextIncomePayday != null)
    {
        txtDateInformation = Model.NextIncomePayday.GetValueOrDefault().ToString("ddd dd MMMM yyyy");
    }
    string DatePickerDefaultDate = Model.NextIncomePayday.GetValueOrDefault().ToString("dd/MM/yyyy");
    string DatePickerStartDate = Model.NextIncomePayday.GetValueOrDefault().AddDays(-3).ToString("dd/MM/yyyy");
    string DatePickerEndDate = Model.NextIncomePayday.GetValueOrDefault().AddDays(3).ToString("dd/MM/yyyy");
    int NumberOfDays = (Model.NextIncomePayday - DateTime.Now).GetValueOrDefault().Days;
}

<div class="card text-white bg-success my-1 shadow">
    <div class="card-body p-2">
        <div class="text-white" style="position: absolute; top: 0px; right: 0px">
            <button type="submit" asp-action="EditPayInfo" asp-controller="Budgets" style="background-color: transparent; border: none; z-index: 99;">
                <p class="text-white fs-1"><i class="bi bi-pencil-square"></i></p>
            </button>
        </div>
        <div class="d-flex flex-column text-left mt-2">
            <p class="mb-0 ps-1 fs-5">You have @NumberOfDays to PAYDAY!</p>
            <div id="divPayAmount" class="m-0 p-0 mt-3">
                <div id="ToggleBorder" class="d-flex justify-content-start align-items-center" style="width: 60%">
                    <input id="txtPayAmount" type="text" value="@txtPayAmount" style="cursor: pointer; max-width: 80%; background-color: transparent; font-size: 35px; line-height: 100%" data-type="PositiveCurrency" placeholder="@AmountPlaceholder" class="text-white pe-2 text-start" disabled onchange="UpdateHdnTransactionAmount()" onblur="FinishEditPay()" />
                    <button type="button" style="background-color: transparent; border: none; z-index: 99;" onclick="EditPayAmount()">
                        <i class="bi bi-pencil fs-2 text-white"></i>
                    </button>
                </div>
                <input type="hidden" id="PayAmount" name="PayAmount" value="@Model.PaydayAmount"/>
            </div>
            <p class="pb-0 mb-0 fs-6 ps-1" style="line-height: 100%;">For Next Pay Day</p>
            <button type="button" onclick="OpenModal()" style="background-color: transparent; border: none; width: 60%">
                <div class="d-flex justify-content-between">
                    <div class="text-right">
                        <p class="text-White mt-3 mb-0 pe-2 fs-2 text-white" id="txtDateInformation">@txtDateInformation</p>
                    </div>                    
                </div>
            </button>
            <input type="hidden" id="PayDate" name="PayDate" value="@Model.NextIncomePayday;" />
        </div>
    </div>
</div>


<script>
    $('#txtDateInformation').change(function()
    {
        UpdatePayDate();
    });

    $(document).ready(function () {
        $.get({
            url: '/Home/LoadDatePicker/',
            data: {
                textElement: 'txtDateInformation',
                InputElement: 'PayDate',
                DatePattern: 'ddmmmmyyyy',
                IncludeDay: 'Short',
                Seperator: 'Space',
                StartDate: '@DatePickerStartDate',
                EndDate: '@DatePickerEndDate',
                DefaultDate: '@DatePickerDefaultDate'
            },

            success: function (result) {
                $("#myPartialViewDiv").html(result);
            },

            error: function (xhr, exception) {
                return false;
            }
        });
    })

    function UpdatePayDate()
    {
        $.ajax({
            url: '/Home/UpdatePayDate/',
            type: 'POST',
            data:  
            {
                PayDate: $('#PayDate').val()
            },

            success: function (result) 
            {
                $("#NextPayInfo").html('');
                $("#NextPayInfo").html(result);
            },

            error: function (xhr, exception) 
            {
                console.log(exception);
                $("#NextPayInfo").html('');
                $('#NextPayInfo').load("/Home/NextPayInfo")
            }
        });
    }

    function EditPayAmount()
    {
        $('#ToggleBorder').toggleClass('border-bottom border-2 border-white border-3 mb-2')
        $('#txtPayAmount').prop('disabled', (i, v) => !v);
        $('#txtPayAmount').focus()
    }

    function UpdateHdnTransactionAmount() 
    {
        if (document.getElementById('CurrencySymbol') == undefined) {
            var CurrencySymbol = "£"
        }
        else {
            if (document.getElementById('CurrencySymbol').value == '') {
                var CurrencySymbol = "£"
            }
            else {
                var CurrencySymbol = $('#CurrencySymbol').val()
            }
        }

        if (document.getElementById('CurrencyPlacement') == undefined) {
            var CurrencyPlacement = "Before"
        }
        else {
            if (document.getElementById('CurrencyPlacement').value == '') {
                var CurrencyPlacement = "Before"
            }
            else {
                var CurrencyPlacement = $('#CurrencyPlacement').val()
            }
        }

        if (document.getElementById('SymbolSpace') == undefined) {
            var SymbolSpace = "No"
        }
        else {
            if (document.getElementById('SymbolSpace').value == '') {
                var SymbolSpace = "No"
            }
            else {
                var SymbolSpace = $('#SymbolSpace').val()
            }
        }

        if (document.getElementById('DecimalSeperator') == undefined) {
            var DecimalSeperator = "."
        }
        else {
            if (document.getElementById('DecimalSeperator').value == '') {
                var DecimalSeperator = "."
            }
            else {
                var DecimalSeperator = $('#DecimalSeperator').val()
            }
        }

        if (document.getElementById('CurrencySpacer') == undefined) {
            var CurrencySpacer = ","
        }
        else {
            if (document.getElementById('CurrencySpacer').value == '') {
                var CurrencySpacer = ","
            }
            else {
                var CurrencySpacer = $('#CurrencySpacer').val()
            }
        }

        var txtBillAmount = document.getElementById('txtPayAmount').value;
        var numBillAmount = txtBillAmount.replace(CurrencySymbol, '').replace(CurrencySpacer, '').replace(' ', '').replace('-', '');
        document.getElementById('PayAmount').value = numBillAmount;
    }

</script>