@model Budgets;

@{
    if (@Model.Transactions == null)
    {
        <div>No recent Bill activity</div>
    }
    else
    {
        int i = 1; 
        List<Bills> SortedBills = Model.Bills.OrderByDescending(t => t.isClosed).ToList();

        foreach (Bills B in SortedBills)
        {
            string ButtonID = "btnEditBill" + i;

            string BackgroundColor = "";
            string Opactiy = "1";
            if(B.isClosed)
            {
                BackgroundColor = "#333";
                Opactiy = "1";
            }
            else
            {
                if(i%2 == 0)
                {
                    BackgroundColor = "#ec6538";
                }
                else
                {
                    BackgroundColor = "#f39b7e";
                }
            }

            string IconString = "";
            if(B.isRecuring)
            {
                IconString = "p-1 fs-4 bi bi-arrow-repeat text-white";
            }
            else
            {
                IconString = "p-1 fs-4 bi bi-1-circle text-white";
            }

            string GoalValue = "";
            string value1 = "";
            string value2 = "";
            string value3 = "";
            if(!B.isRecuring)
            {
                value1 = string.Format("{0:c}", B.BillCurrentBalance);
                value2 = string.Format("{0:c}", B.BillAmount); 
                value3 = string.Format("{0:c}", B.RegularBillValue); 
                GoalValue = B.BillDueDate.GetValueOrDefault().ToString(ViewBag.DateString);   
            }
            else
            {
                    value1 = string.Format("{0:c}", B.BillCurrentBalance);
                    value2 = string.Format("{0:c}", B.BillAmount); 
                    value3 = string.Format("{0:c}", B.RegularBillValue);   
                    GoalValue = B.BillDueDate.GetValueOrDefault().ToString(ViewBag.DateString);  
            }



            <button type="submit" id="@ButtonID" asp-action="EditBill" asp-controller="Bills" asp-route-BillID="@B.BillID" class="p-0 border-1 border-bottom border-light" style="background-color: transparent; border: none; width: 100%; z-index: 99;">
                <div class="d-flex container align-items-center p-0 py-1" style="background-color: @(BackgroundColor); Opacity: @(Opactiy);">
                    <div class="col-2">                        
                        <i class="@IconString" style="opacity: 1 !important;"></i>                       
                    </div>
                    <div class="d-flex flex-column align-items-start col-7 ps-2 pb-1">
                        <div><p class="text-start text-white h2 m-0">@B.BillName</p></div>
                        <div><p class="text-start text-white h6 m-0">@GoalValue</p></div>
                    </div>
                    <div class="d-flex flex-column align-items-end justify-content-center col-3 pe-2">
                        <div><p class="text-end text-white h6 m-0">@value1</p></div>
                        @if(value2 == ""){}else{<div><p class="text-end text-white h6 m-0">@value2</p></div>}
                        <div><p class="text-end text-white h6 m-0">@value3</p></div>                          
                    </div>
                </div>
            </button>

            i++;
        }
    }
}


