@model Budgets;

@{
    if (@Model.Transactions == null)
    {
        <div>No recent transaction activity</div>
    }
    else
    {
        int i = 1; 
        List<Transactions> SortedTransaction = Model.Transactions.OrderByDescending(t => t.TransactionDate).ToList();
        foreach(Transactions T in SortedTransaction)
        {
            string ButtonID = "btnEditTransaction" + i;
            string Payee = "";
            if(T.Payee == "" | T.Payee == null)
            {
                Payee = "No Payee";
            }
            else
            {
                Payee = T.Payee;
            }

            string SpendCategory = "";
            if(T.SavingName == "" | T.SavingName == null)
            {
                SpendCategory = "No Category";
            }
            else
            {
                SpendCategory = T.SavingName;
            }

            string Category = "";
            if(T.Category == "" | T.Category == null)
            {
                Category = "No Category";
            }
            else
            {
                Category = T.Category;
            }

            string Amount = string.Format("{0:c}", T.TransactionAmount);
            if(!T.isIncome)
            {
                Amount = Amount;
            }

            string Date = T.TransactionDate.GetValueOrDefault().ToString(ViewBag.DateString);

            string IconColor = "";
            string IconArrowString = "";
            if(T.isIncome)
            {
                IconColor = "#66FF00";
                IconArrowString = "p-1 fs-2 bi bi-plus-circle";
            }
            else
            {
                IconColor = "#8b0000";
                IconArrowString = "p-1 fs-2 bi bi-dash-circle";
            }

            string IconString = "";

            if(T.isSpendFromSavings)
            {
                IconString = "p-1 bi bi-piggy-bank text-white";
            }
            else
            {
                IconString = "p-1 bi bi-cash text-white";
            }

            string BackgroundColor = "";
            string Opactiy = "1";
            if(!T.isTransacted)
            {
                BackgroundColor = "#333";
                if(!T.isIncome)
                {
                    IconColor = "#FF3131";
                }
                Opactiy = "1";
            }
            else
            {
                if(i%2 == 0)
                {
                    BackgroundColor = "#ec6538";
                }
                else
                {
                    BackgroundColor = "#f39b7e";
                }
            }
            

            <button type="submit" id="@ButtonID" asp-action="EditTransaction" asp-controller="Transaction" asp-route-TransactionID="@T.TransactionID" class="p-0 border-1 border-bottom border-light" style="background-color: transparent; border: none; width: 100%; z-index: 99;">
                <div class="d-flex container align-items-center p-0" style="background-color: @(BackgroundColor); Opacity: @(Opactiy);">
                    <div class="col-1">                        
                        <i class="@IconString" style="opacity: 1 !important;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-center col-7 ps-2 pb-1">
                        <div><p class="text-start text-white h2 m-0">@Payee</p></div>
                        <div><p class="text-start text-white h6 m-0">@if(T.isSpendFromSavings){@SpendCategory}else{@Category}</p></div>
                    </div>
                    <div class="col-1">
                        <i class="@IconArrowString" style="opacity: 1 !important; color: @IconColor;"></i>
                    </div>
                    <div class="d-flex flex-column align-items-end justify-content-center col-3 pe-2">
                        <div><p class="text-end text-white h6 m-0">@Date</p></div>
                        <div><p class="text-end text-white h6 m-0">@Amount</p></div>                        
                    </div>
                </div>
            </button>

            i++;
        }
    }
}


