@model DailySpendBudgetWebApp.Models.Transactions

@{
    ViewData["Title"] = "Add a Transaction";
    Layout = "~/Views/Shared/_LayoutForHomeLogon.cshtml";
    string TransactionConfirmationAmount = String.Format("{0:c}", Model.TransactionAmount);
    string CurrentBalanceConfirmation = "";
    if(@ViewBag.CurrentBalance != null)
    {
        CurrentBalanceConfirmation = @ViewBag.CurrentBalance;
    }

    string SavingsGoalConfirmation = "";
    if(@ViewBag.SavingsGoal != null)
    {
        SavingsGoalConfirmation = @ViewBag.SavingsGoal;
    }
}

<form method="post">
    <input type="hidden" asp-for="TransactionID" value="@Model.TransactionID"/>
    <input type="hidden" id="hdnServerDate" value='@ViewBag.CurrentDate' />
    <div class="modal" id="ConfirmSavingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary p-3 pt-3 pb-2 border-bottom border-primary border-3">
                    <h5 class="modal-title text-white">What should we do with you the Savings?</h5>
                </div>
                <div class="modal-body">
                    <div id="ConfirmSavinginfo">
                        <p id="ConfirmSavinginfop1"></p>
                        <p id="ConfirmSavinginfop2"></p>
                    </div>
                </div>
                <div class="modal-footer bg-primary p-1 border-top border-primary border-3">
                    <button asp-action="CreateTransactionSavingsAdd" asp-controller="Transaction" type="submit" id="btnSavingsAdd" class="btn btn-warning"></button>
                    <button asp-action="CreateTransactionSavingsSubtract" asp-controller="Transaction" type="submit" id="btnSavingsSubtract" class="btn btn-info"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center" style="background-color: transparent;">
        <div class="d-flex container align-items-center justify-content-center mt-4 pt-2">
            <h3 class="text-white">@TempData["PageHeading"]</h3>
        </div>
        <div class="align-items-center mb-5 mt-5">
            <img src="~/img/logoFiles/ForWeb/png/JustlogoOrange.png" class="shadow rounded-circle" style="max-width: 75px; background-color: transparent;" />
        </div>        
        <partial name="_PVAddTransaction"></partial>
        <footer class="sticky-bottom m-0 p-0" style="width: 100%">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <button asp-action="ConfirmEditTransaction" asp-controller="Transaction" id="btnSubmit" type="submit" class="btn btn-success rounded-1 mb-4 col-11"><i class="bi bi-save2"></i> &nbsp Add Transaction</button>
            </div>
        </footer>
    </div>
</form>
<div id="myPartialViewDiv">
</div>
<div class="fixed-top">
    <div class="d-flex container justify-content-end">
        <a asp-action="Index" asp-controller="Home"><i style="font-size: 40px;" class="ps-2 bi bi-x text-white"></i></a>
    </div>
</div>
<input type="hidden" id="CurrencySymbol" value="@Html.Raw(ViewBag.CurrencySymbol)" />
<input type="hidden" id="CurrencySpacer" value="@Html.Raw(ViewBag.CurrencySpacer)" />
<input type="hidden" id="DecimalSeperator" value="@Html.Raw(ViewBag.DecimalSeperator)" />
<input type="hidden" id="CurrencyPlacement" value="@Html.Raw(ViewBag.CurrencyPlacement)" />
<input type="hidden" id="SymbolSpace" value="@Html.Raw(ViewBag.SymbolSpace)" />
<input type="hidden" asp-for="stage" value="@Model.stage" />

<script>
    
    function OpenModal() {
        document.getElementById('DatePickerContainter').style.display = 'block';
    }

    $(document).ready(function () {
        $.get({
            url: '/Home/LoadDatePicker/',
            data: {
                textElement: 'txtDateInformation',
                InputElement: 'TransactionDate',
                DatePattern: 'ddmmmmyyyy',
                IncludeDay: 'None',
                Seperator: 'Space'
            },

            success: function (result) {
                $("#myPartialViewDiv").html(result);
            },

            error: function (xhr, exception) {
                return false;
            }
        });
    })

    document.addEventListener("load", CheckStage());

    function CheckStage() 
    {
        if ('@ViewBag.Stage' == 'ConfirmSavingSpendIncome') 
        {
            var TransactionAmount = '@TransactionConfirmationAmount'
            $('#ConfirmSavingModal').show();
            $('#ConfirmSavinginfop1').html('You are adding ' + TransactionAmount + ' into your Saving, @Model.SavingName how would you like us to handle this?');
            $('#ConfirmSavinginfop2').html('Currently the savings has a balance of @Html.Raw(CurrentBalanceConfirmation) and a goal is @Html.Raw(SavingsGoalConfirmation). Do you want to increase the Saving Goal by the same amount as the Balance? Or do you want to keep the goal the same and recalculate how you will achieve it?');
            $('#btnSavingsAdd').html('Keep The Same');
            $('#btnSavingsSubtract').html('Increase Goal Amount');
        }

        if ('@ViewBag.Stage' == 'ConfirmSavingSpendOutcome') 
        {
            var TransactionAmount = '@TransactionConfirmationAmount'
            $('#ConfirmSavingModal').show();
            $('#ConfirmSavinginfop1').html('You are spending ' + TransactionAmount + ' from @Model.SavingName how would you like us to handle this?');
            $('#ConfirmSavinginfop2').html('Currently the savings has a balance of @Html.Raw(CurrentBalanceConfirmation) and a goal is @Html.Raw(SavingsGoalConfirmation). Do you want to decrease the Saving Goal by the same amount as the Balance? Or do you want to keep the goal the same and recalculate how you will achieve it?');
            $('#btnSavingsAdd').html('Keep The Same');
            $('#btnSavingsSubtract').html('Decrease Goal');
        }
    }


  

</script>
