@model DailySpendBudgetWebApp.Models.Transactions

@{
    ViewData["Title"] = "Add a Transaction";
    Layout = "~/Views/Shared/_LayoutNoFooterNoBackButton.cshtml";

    string ShowCreatePayee = "flex";
    if ((Model.Payee == "" | Model.Payee == null) | (Model.PayeeList.Contains(Model.Payee, StringComparer.OrdinalIgnoreCase)))
    {
        ShowCreatePayee = "none";
    }

    string ShowClearButton = "flex: 1 0 auto";
    if ((Model.Payee == "" | Model.Payee == null))
    {
        ShowClearButton = "display: none";
    }
}

<style>
    #Payee {
        outline: none;
    }

    #Payee::Placeholder {
        color: white;
    }
</style>


<div class="border-2 border-bottom border-muted mb-1" style="background-color: #f39b7e">
    <div id="divPayeeSearch" class="sticky-top">
        <div class="d-flex pt-3 mb-1 ms-1 me-1 ps-2 pe-2">
            <input type="text" asp-for="Payee" placeholder="Pick the person you are going to pay!" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pick the person you are going to pay!'" onchange="" value="@Model.Payee" style="flex: 13 0 auto; background-color: transparent; border: none;" class="border-bottom border-2 border-dark pb-2 h4 text-white" />
            <button type="button" id="divClearButton" style="background-color: transparent; border: none; @(ShowClearButton);" onclick="ClearPayee()"><i class="bi bi-x-circle text-dark h1"></i></button>
        </div>
    </div>
    <div id="divCreateNewPayee" style="display: @(ShowCreatePayee)" class="mb-1 ms-1 me-1 ps-2 pe-2">

        <h5 class="text-dark ps-4">
            <button type="submit" asp-action="CreatePayee" asp-controller="Transaction" style="background-color: transparent; border: none;">
                <i class="bi bi-plus-circle-fill text-dark"></i>
            </button> 
            Create "
        </h5>
        <h5 class="text-dark" id="txtCreatePayee">@Model.Payee</h5>
        <h5 class="text-dark">" As A Payee?</h5>
    </div>
</div>
<div class="modal" id="divDeletePayeeModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-dark shadow">
            <div class="modal-header bg-primary p-3 pt-3 pb-2">
                <h5 class="modal-title text-white">Delete the Payee</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="divDeletePayeeModal" aria-label="Close" id="CloseModal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DeletePayeeInfo">
                    <p class="text-muted m-0">If you delete this Payee any transactions assigned to it will be unassigned, you can reassign this by looking at your transactions</p>
                </div>
            </div>
            <div class="modal-footer bg-primary p-1">
                <button type="submit" id="btnDeletePayee" class="btn btn-dark" onclick="">Yes</button>
                <button type="button" id="btnCancel" class="btn btn-danger" data-bs-dismiss="divDeletePayeeModal">No</button>
            </div>
        </div>
    </div>
</div>
<div id="myPartialViewDiv"></div>

<input type="hidden" asp-for="TransactionID" />
<input type="hidden" asp-for="isSpendFromSavings" />
<input type="hidden" asp-for="SavingID" />
<input type="hidden" asp-for="SavingName" />
<input type="hidden" asp-for="TransactionDate" />
<input type="hidden" asp-for="isIncome" />
<input type="hidden" asp-for="TransactionAmount" />
<input type="hidden" asp-for="Category" />
<input type="hidden" asp-for="Notes" />
<input type="hidden" asp-for="CategoryID" />

<script>

    var CurrentPayeeList = []

    @{
        foreach (var item in Model.PayeeList)
        {
            @:CurrentPayeeList.push("@item")
        }
    }

    $('#myPartialViewDiv').load("/Transaction/PayeeTable")

    function ClearPayee()
    {
        $('#Payee').val('');
        $('#divClearButton').css({ "display": "none", "flex": "0 0 auto" });
        $('#divCreateNewPayee').css("display", "none");
        $('#txtCreatePayee').html($('#Payee').val());
    }

    $('#Payee').keyup(ShowHideClearButton);

    function ShowHideClearButton()
    {
        $.ajax({
            url: '/Transaction/SearchPayee',
            type: 'POST',
            data:  $('#myForm').serialize(),

            success: function (result) {
                $("#myPartialViewDiv").html(result);
            },

            error: function (xhr, exception) {

                return false;
            }
        });

        if($('#Payee').val() == "")
        {
            $('#divClearButton').css({ "display": "none", "flex": "0 0 auto" });
            $('#divCreateNewPayee').css( "display", "none");
            $('#txtCreatePayee').html($('#Payee').val());
        }
        else if (CurrentPayeeList.includes($('#Payee').val())) 
        {
            $('#divClearButton').css({ "display": "flex", "flex": "1 0 auto" });
            $('#divCreateNewPayee').css("display", "none");
            $('#txtCreatePayee').html($('#Payee').val());
        }
        else
        {
            $('#divClearButton').css({ "display": "flex", "flex": "1 0 auto" });
            $('#divCreateNewPayee').css("display", "flex");
            $('#txtCreatePayee').html($('#Payee').val());
        }

    }

    function DeletePayeeModal(PayeeName) {
        var onclickstring = "DeletePayeeName('" + PayeeName + "')"
        $("#btnDeletePayee").attr("onclick", onclickstring);
        document.getElementById("divDeletePayeeModal").style.display = "block"

    }


    function DeletePayeeName(PayeeName) {
        $.post({
            url: '/Transaction/DeleteSpecificPayee/' + PayeeName,
            type: 'POST',
            data: $('#myForm').serialize(),

            success: function (result) {
                $("#myPartialViewDiv").html(result);
            },

            error: function (xhr, exception) {
                return false;
            }
        });
    }

    $('#btnCancel').click(function() {
        $('#divDeletePayeeModal').hide();
    })

    $('#CloseModal').click(function() {
        $('#divDeletePayeeModal').hide();
    })



</script>
