@model DailySpendBudgetWebApp.Models.Transactions

@{
    ViewData["Title"] = "Your Categories";
    Layout = "~/Views/Shared/_LayoutNoFooterNoBackButton.cshtml";
}

@{
    List<Categories> CategoryList = ViewBag.CategoryList;
    int CurrentCategoryGroupID = 0;
    int i = 0;
    bool CompleteHeaderCategory = false;
    while(CategoryList.Count > 0)
    {
        if(!CategoryList[i].isSubCategory & !CompleteHeaderCategory)
        {
            CurrentCategoryGroupID = CategoryList[i].CategoryID;
            CompleteHeaderCategory = true;
            string IconName = "Icon" + CategoryList[i].CategoryID;
            string divName = "Div" + CategoryList[i].CategoryID;
            <div class="m-0 ps-3 pt-2 pb-2 border-2 border-bottom border-muted d-flex justify-content-between">
                <button type="button" style="background-color: transparent; border: none; text-align: left;" class="d-flex col-12 justify-content-between" onclick="CloseSubCategories('@divName', '@IconName')">
                    <h4 class="m-0 text-white h4 col-8">@CategoryList[i].CategoryName</h4>
                    <div class="p-0 m-0 pe-5 col-1 text-right"><i id="@IconName" class="bi bi-chevron-double-down text-white ms-4"></i></div>
                </button>
            </div>
            CategoryList.RemoveAt(i);
            @:<div id="@(divName)" class="flex-column align-items-start" style="display: flex">
        }
        else
        {
            if(CategoryList[i].isSubCategory & CategoryList[i].CategoryGroupID == CurrentCategoryGroupID)
            {
                <div style="background-color: #f39b7e" class="border-2 border-bottom border-muted d-flex justify-content-between col-12">
                    <button type="submit" asp-controller="Transaction" asp-action="SelectSpecificCategory" asp-route-CategoryID="@CategoryList[i].CategoryID" style="background-color: transparent; border: none; text-align: left;" class="col-12">
                        <div>
                            <p class="m-0 pt-2 pb-2 ps-4 text-white text-left"><strong>@CategoryList[i].CategoryName</strong></p>
                        </div>
                    </button>
                </div>
                CategoryList.RemoveAt(i);
            }
            else
            {
                i = i + 1;
            }
        }

        if(i == CategoryList.Count)
        {
            i = 0;
            CompleteHeaderCategory = false;
            @:</div>
        }
    }
}
<input type="hidden" asp-for="TransactionID" />
<input type="hidden" asp-for="TransactionType" />
<input type="hidden" asp-for="isSpendFromSavings" />
<input type="hidden" asp-for="SavingID" />
<input type="hidden" asp-for="SavingName" />
<input type="hidden" asp-for="TransactionDate" />
<input type="hidden" asp-for="isIncome" />
<input type="hidden" asp-for="TransactionAmount" />
<input type="hidden" asp-for="Notes" />
<input type="hidden" asp-for="Payee" />

<script>
    function CloseSubCategories(divName, iconName)
    {
        $('#'+ divName).slideToggle('slow')
        $('#'+ iconName).toggleClass('bi-chevron-double-down').fadeOut('slow', function(){
            $('#'+ iconName).toggleClass('bi-chevron-double-up').fadeIn('slow')
        })
    }
</script>