@model DailySpendBudgetWebApp.Models.Transactions

@{
    ViewData["Title"] = "Your Savings";
    Layout = "~/Views/Shared/_LayoutNoFooterNoBackButton.cshtml";

    string AmountColor = "AmountRed";
    string AmountPlaceholder = "-£0.00";
    string AmountDatatype = "NegativeCurrency";
    bool rdbIncomingString = false;
    bool rdbOutgoingString = true;
    string txtTransactionAmount = "-" + String.Format("{0:c}", Model.TransactionAmount);
    string isIncomeDisplay = "flex";
    string txtSaving = "Spend";
    string backgroundcolor = "#FFCCCB";
    string AmountBorderColor = "danger";
    if(Model.TransactionAmount == 0 | Model.TransactionAmount == null)
    {
        txtTransactionAmount = "";
    }
    if (Model.isIncome)
    {
        AmountColor = "AmountGreen";
        AmountPlaceholder = "£0.00";
        AmountDatatype = "PositiveCurrency";
        rdbIncomingString = true;
        rdbOutgoingString = false;
        txtTransactionAmount = String.Format("{0:c}", Model.TransactionAmount);
        isIncomeDisplay = "none";
        txtSaving = "Add to";
        backgroundcolor = "#c8f7c8";
        AmountBorderColor = "success";
        if (Model.TransactionAmount == 0 | Model.TransactionAmount == null)
        {
            txtTransactionAmount = "";
        }
    }

    string TypeSortDirection = ViewBag.TypeSortDirection;
    string BalanceSortDirection = ViewBag.BalanceSortDirection;
    string NameSortDirection = ViewBag.NameSortDirection;

    <div id="divTransactionAmount" class="row justify-content-center align-items-center ms-2 me-2 my-3">
        <input id="txtTransactionAmount" type="text" value="@(txtTransactionAmount)" style="cursor: pointer; width: 40%; font-size: 20pt; background: @backgroundcolor" data-type="@(AmountDatatype)" placeholder="@AmountPlaceholder" class="@(AmountColor) pe-2 pt-2 pb-2 text-center rounded-5 shadow border border-@AmountBorderColor border-2" disabled/>
    </diV>
    <div style="background-color: transparent" class="border-2 border-bottom border-muted d-flex justify-content-between col-12 py-2">
        <div class="col-3">
            <button type="submit" style="background-color: transparent; border: none; text-align: left; width: 100%" asp-controller="Transaction" asp-action="SelectSavingSort" asp-route-direction="@TypeSortDirection" asp-route-sortcolumn="Type">
                <h6 style="width: 70%" class="text-center mb-0 text-white"><i class="bi bi-sort-@TypeSortDirection-alt"></i> Type</h6>
            </button>
        </div>
        <div class="col-6">
            <button type="submit" style="background-color: transparent; border: none; text-align: left; width: 100%" asp-controller="Transaction" asp-action="SelectSavingSort" asp-route-direction="@NameSortDirection" asp-route-sortcolumn="Name">
                <h6 style="width: 70%" class="text-left mb-0 text-white"><i class="bi bi-sort-@NameSortDirection-alt"></i> Name</h6>
            </button>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button type="submit" style="background-color: transparent; border: none; text-align: left; width: 100%" asp-controller="Transaction" asp-action="SelectSavingSort" asp-route-direction="@BalanceSortDirection" asp-route-sortcolumn="Balance">
                <h6 style="width: 100%" class="col-12 text-center mb-0 text-white"><i class="bi bi-sort-@BalanceSortDirection-alt"></i> Balance</h6>
            </button>
        </div>
    </div>
    List<Savings> SavingsList = ViewBag.SavingsList;
    if(Model.isIncome)
    {
        foreach (Savings Saving in SavingsList)
        {
            string SavingType = "";
            string CurrentBalance = String.Format("{0:c}", Saving.CurrentBalance);
            string SavingsGoal = String.Format("{0:c}", Saving.SavingsGoal);
            if (!Saving.isRegularSaving & Saving.ddlSavingsPeriod == "PerPayPeriod")
            {
                SavingType = "Envelope";
            }
            else
            {
                SavingType = "Regular";
            }


            <div style="background-color: transparent" class="border-2 border-bottom border-muted d-flex justify-content-between col-12">
                <button type="submit" asp-controller="Transaction" asp-action="SelectSpecificSaving" asp-route-SelectSavingID="@Saving.SavingID" style="background-color: transparent; border: none; text-align: left; width: 100%" class="m-0 p-0">
                    <div class="d-flex container-fluid align-items-center py-2" style="background-color: #f39b7e">
                        <div class=" d-flex col-3 align-items-center"><span class="badge rounded-pill bg-dark py-2 px-2 shadow" style="font-size: 8pt; border: solid 1px black; width: 70%">@SavingType</span></div>
                        <p class="m-0 pt-2 pb-2 text-white text-left h5 col-6" style="vertical-align: middle;"><strong>@Saving.SavingsName</strong></p>
                        <div class=" d-flex col-3 align-items-center justify-content-end">
                            <div class=" d-flex align-items-center col-8"><span class="badge rounded-pill bg-success py-2 px-2 shadow" style="font-size: 8pt; width: 100%; border: solid 1px darkgreen; overflow: hidden">@CurrentBalance</span></div>
                        </div>
                    </div>
                </button>
            </div>
        }
    }
    else
    {
        foreach (Savings Saving in SavingsList)
        {
            string SavingType = "";
            string CurrentBalance = String.Format("{0:c}", Saving.CurrentBalance);
            string SavingsGoal = String.Format("{0:c}", Saving.SavingsGoal);
            if (!Saving.isRegularSaving & Saving.ddlSavingsPeriod == "PerPayPeriod")
            {
                SavingType = "Envelope";
            }
            else
            {
                SavingType = "Regular";
            }

            string CurrencyColor = "";
            string BorderColor = "";
            string ButtonLinkText = "";

            if (Model.TransactionAmount > Saving.CurrentBalance)
            {
                CurrencyColor = "danger";
                BorderColor = "darkred";
                <div style="background-color: transparent" class="border-2 border-bottom border-muted d-flex justify-content-between col-12">
                    <button type="button" onclick="CantSelectSaving('@Saving.SavingsName', '@CurrentBalance', '@(txtTransactionAmount)')" style="background-color: transparent; border: none; text-align: left; width: 100%" class="m-0 p-0">
                        <div class="d-flex container-fluid align-items-center py-2" style="background-color: #f39b7e">
                            <div class=" d-flex col-3 align-items-center"><span class="badge rounded-pill bg-dark py-2 px-2 shadow" style="font-size: 8pt; border: solid 1px black; width: 70%">@SavingType</span></div>
                            <p class="m-0 pt-2 pb-2 text-white text-left h5 col-6" style="vertical-align: middle;"><strong>@Saving.SavingsName</strong></p>
                            <div class=" d-flex col-3 align-items-center justify-content-end">
                                <div class="d-flex align-items-center col-8"><span class="badge rounded-pill bg-@(CurrencyColor) py-2 px-2 shadow" style="font-size: 8pt; width: 100%; border: solid 1px @(BorderColor); overflow: hidden">@CurrentBalance</span></div>
                            </div>
                        </div>
                    </button>
                </div>
            }
            else
            {
                CurrencyColor = "success";
                BorderColor = "darkgreen";
                <div style="background-color: transparent" class="border-2 border-bottom border-muted d-flex justify-content-between col-12">
                    <button type="submit" asp-controller="Transaction" asp-action="SelectSpecificSaving" asp-route-SelectSavingID="@Saving.SavingID" style="background-color: transparent; border: none; text-align: left; width: 100%" class="m-0 p-0">
                        <div class="d-flex container-fluid align-items-center py-2" style="background-color: #f39b7e">
                            <div class=" d-flex col-3 align-items-center"><span class="badge rounded-pill bg-dark py-2 px-2 shadow" style="font-size: 8pt; border: solid 1px black; width: 70%">@SavingType</span></div>
                            <p class="m-0 pt-2 pb-2 text-white text-left h5 col-6" style="vertical-align: middle;"><strong>@Saving.SavingsName</strong></p>
                            <div class=" d-flex col-3 align-items-center justify-content-end">
                                <div class=" d-flex align-items-center col-8"><span class="badge rounded-pill bg-@(CurrencyColor) py-2 px-2 shadow" style="font-size: 8pt; width: 100%; border: solid 1px @(BorderColor); overflow: hidden">@(CurrentBalance)</span></div>
                            </div>
                        </div>
                    </button>
                </div>
            }
        }
    }

}

    <div class="modal" id="CantSelectSavingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary p-3 pt-3 pb-2 border-bottom border-primary border-3">
                    <h5 class="modal-title text-white">Can't use that Saving Category!</h5>
                </div>
                <div class="modal-body">
                    <div id="CantSelectSavinginfo">
                    </div>
                </div>
                <div class="modal-footer bg-primary p-1 border-top border-primary border-3">
                    <button type="button" id="btnCancelCantSelectSaving" class="btn btn-success" data-bs-dismiss="IncomesModal" onclick="CancelCantSelectSaving()">OK</button>
                </div>
            </div>
        </div>
    </div>

<style>
    #Payee {
        outline: none;
    }

    #Payee::Placeholder {
        color: white;
    }
</style>

<input type="hidden" asp-for="TransactionID" />
<input type="hidden" asp-for="isSpendFromSavings" />
<input type="hidden" asp-for="SavingID" />
<input type="hidden" asp-for="SavingName" />
<input type="hidden" asp-for="TransactionDate" />
<input type="hidden" asp-for="isIncome" />
<input type="hidden" asp-for="TransactionAmount" />
<input type="hidden" asp-for="Category" />
<input type="hidden" asp-for="Notes" />
<input type="hidden" asp-for="CategoryID" />
<input type="hidden" asp-for="Payee" />

<script>

    function CantSelectSaving(Name, Balance, Amount)
    {
        $('#CantSelectSavingModal').show()
        if (Balance == '£0.00')
        {
            var Details = Name + ' doesnt have any money allocated to it, howd you expect to spend money you dont have?!'
        }
        else
        {
            var Details = Name + ' only has ' + Balance + ' allocated to it so you cant spend ' + Amount + '! Seems Obvious, please select another Savings or dont spend the money'
        }
        $('#CantSelectSavinginfo').html(Details)
        $('#CantSelectSavinginfo').addClass('text-dark')
    }

    function CancelCantSelectSaving()
    {
        $('#CantSelectSavingModal').hide()
    }

</script>
