@model DailySpendBudgetWebApp.Models.Savings
@{
    ViewData["Title"] = "Add A Saving";
    Layout = "~/Views/Shared/_LayoutForHomeLogon.cshtml";
}
<form method="post">
    <input type="hidden" id="hdnServerDate" value="@ViewBag.CurrentDate" />
    <div class="d-flex flex-column align-items-center" style="background-color: transparent;">
        <div class="d-flex container align-items-center justify-content-center mt-4 pt-2">   
            <h3 class="text-white">@TempData["PageHeading"]</h3>
        </div>
        <div class="align-items-center mb-5 mt-5">
            <img src="~/img/logoFiles/ForWeb/png/JustlogoOrange.png" class="shadow rounded-circle" style="max-width: 75px; background-color: transparent;" />
        </div>
        <partial name="_PVAddSavings"></partial>
        <footer class="sticky-bottom m-0 p-0" style="width: 100%">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <button asp-action="AddSaving" asp-controller="Savings" id="btnSubmit" type="submit" class="btn btn-success rounded-1 mb-4 col-11" ><i class="bi bi-save2"></i> &nbsp Add Saving</button>
            </div>
        </footer>
    </div>
    <div class="modal" id="ConfirmationModal" style="display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="margin-bottom: 45%">
                    <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                        <h5 class="modal-title text-primary">Congrats, Saving Created!</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="ConfirmationModal" aria-label="Close" id="CloseSavingModal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body" id="ConfirmationModalBody">
                        
                    </div>
                    <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                        <button asp-action="AddSavingConfirmation" asp-controller="Savings" type="submit" id="btnSaveSavings" class="btn btn-primary">Amazing, Let's Continue</button>
                        <button asp-action="AddSavingCancel" asp-controller="Savings" type="submit" id="btnCancelSavings" class="btn btn-danger" data-bs-dismiss="ConfirmationModal">Opps, Delete!</button>
                    </div>
                </div>
            </div>
        </div>
</form>
<div class="fixed-top">
    <div class="d-flex container justify-content-end">
        <a asp-action="Index" asp-controller="Home"><i style="font-size: 40px;" class="ps-2 bi bi-x text-white"></i></a>
    </div>
</div>
<div class="alert alert-dismissible p-2 alert-danger" id="snackbar">
    <div class="d-flex">
        <div id="SnackBarMessage" class="col-11 pe-1"></div>
        <button type="button" class="btn-close p-3" data-bs-dismiss="alert"></button>
    </div>
</div>

<script>
    const weekday = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    const monthlist = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec'];
    var PageStatus = '@ViewBag.PageStatus'
    document.addEventListener("load", CheckPageStatus(PageStatus));

    function CheckPageStatus(Status) {
        //var HtmlText = ''

        if(Status == 'Confirmation')
        {
            var isRegularSaving = '@ViewBag.isRegularSaving';
            var GoalDate = '@ViewBag.GoalDate';
            var SavingName = '@ViewBag.SavingsName';
            var SavingGoal = '@ViewBag.SavingsGoal';
            var RegularSavingValue = '@ViewBag.RegularSavingValue';
            var SavingType = '@ViewBag.SavingsType';

            if (isRegularSaving == 'True') {
                
                var DateStringSplit = GoalDate.split(' ');
                var DateGoalDate = new Date(DateStringSplit[0].split('/')[2], DateStringSplit[0].split('/')[1] - 1, DateStringSplit[0].split('/')[0]);

                day = weekday[DateGoalDate.getDay()];
                datenumber = DateGoalDate.getDay();
                month = monthlist[DateGoalDate.getMonth()];
                year = DateGoalDate.getFullYear();

                GoalDate = day+' '+datenumber+' '+month+' '+year

                if (SavingType == 'TargetDate') {
                    HtmlText = '<div class="ms-0 mb-2 mt-2 ps-1 text-primary"><h3>congrats you created a regular saving for your ' + SavingName + '</h3><p class="text-muted"> you have created a ' + SavingType + ' regular savings with a target of £' + SavingGoal + ' by the ' + GoalDate + '. this will required you to save £' + RegularSavingValue + ' each day.</p></div>'
                }
                else if (SavingType == 'SavingsBuilder') {
                    HtmlText = '<div class="ms-0 mb-2 mt-2 ps-1 text-primary"><h3>congrats you created a regular saving for your' + SavingName + '</h3><p class="text-muted"> you have created a ' + SavingType + ' regular savings you plan to save £' + RegularSavingValue + ' each day. lets get going!</p></div>'
                }
                else if (SavingType == 'TargetAmount') {
                    HtmlText = '<div class="ms-0 mb-2 mt-2 ps-1 text-primary"><h3>congrats you created a regular saving for your' + SavingName + '</h3><p> you have created a ' + SavingType + ' regular savings you are trying to save £' + SavingGoal + ' by saving £' + RegularSavingValue + ' each day. if you keep it up you will reach your goal by' + GoalDate + '!</p></div>'
                }
            }
            else if (isRegularSaving == 'False') {
                    HtmlText = '<div class="ms-4 mb-1 mt-4 ps-2 text-primary"><h3>Congrats you created a Saving Category for your' + SavingName + '</h3><p class="text-muted">Get Saving, you can do it! And dont forget you can add to your saving every payday or at any time!</p></div>'
            }
            document.getElementById('ConfirmationModalBody').innerHTML = HtmlText;
            document.getElementById('ConfirmationModal').style.display = "block";
        }
        else if(status == 'Cancel')
        {
            ShowSnackBar('SavingCancelled', 'danger');
        }
    }

    function ShowSnackBar(Message, Type) {

        var x = document.getElementById("SnackBarMessage");

        if (Message == 'BillCreated')
        {
            x.innerHTML = "<div><strong>Congrats</strong> you set up <strong>" + '@TempData["BillName"]' + "</strong> as a Bill for <strong>£" + '@TempData["BillAmount"]' + "</strong> which will require you to save <strong>£" + '@TempData["BillDailyValue"]' + "</strong> a day!</div>"
        }
        else if (Message == 'SavingCreated')
        {
            x.innerHTML = "<div><strong>Congrats</strong> you set up <strong>" + '@TempData["SavingsName"]' + "</strong> as a Bill for <strong>£" + '@TempData["SavingsGoal"]' + "</strong> which will required you to save <strong>£" + '@TempData["RegularSavingValue"]' + "</strong> a day!</div>";
        }
        else if (Message == 'SavingCancelled')
        {
            x.innerHTML = '<div>Youve back out of creating the <strong>Saving</strong>, Whats wrong you scared? Dont worry we believe in you!</div>'
        }
        else if (Message == 'BillCancelled')
        {
            x.innerHTML = '<div>You <strong>Deleted</strong> your Bill, This doesnt delete it from life though just in the app it still needs to be paid, so maybe just add it anyway?</div>';
        }

        var y = document.getElementById("snackbar");
        y.className = y.className.replace("alert-success", "");
        y.className = y.className.replace("alert-danger", "");

        if (Type == 'success') {
            y.className = y.className + ' alert-success';
        }
        else if (Type == 'danger') {
            y.className = y.className + ' alert-danger';
        }

        y.className = y.className + " show";

        setTimeout(function () { y.className = y.className.replace("show", ""); }, 6900);
    }
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>

    }
}
