@model DailySpendBudgetWebApp.Models.Savings
@{
    ViewData["Title"] = "Add A Saving";
    Layout = "~/Views/Shared/_LayoutForHomeLogon.cshtml";

    var parms = new Dictionary<string, string>
            {
                { "ReturnURL", "test" }
            };
    var Cancelparms = new Dictionary<string, string>
            {
                { "SavingName", ViewBag.SavingName }
            };
}
<form method="post">
    <input type="hidden" id="hdnServerDate" value="@ViewBag.CurrentDate" />
    <div class="d-flex flex-column align-items-center" style="background-color: transparent;">
        <div class="d-flex container align-items-center justify-content-center mt-4 pt-2">   
            <h3 class="text-white">@TempData["PageHeading"]</h3>
        </div>
        <div class="align-items-center mb-5 mt-5">
            <img src="~/img/logoFiles/ForWeb/png/JustlogoOrange.png" class="shadow rounded-circle" style="max-width: 75px; background-color: transparent;" />
        </div>
        <partial name="_PVAddSavings"></partial>
        <footer class="sticky-bottom m-0 p-0" style="width: 100%">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <button asp-action="AddSaving" asp-controller="Savings" asp-all-route-data="parms" onclick="UpdateRegularSavingValueBeforePost();" id="btnSubmit" type="submit" class="btn btn-success rounded-1 mb-4 col-11" ><i class="bi bi-save2"></i> &nbsp Add Saving</button>
            </div>
        </footer>
    </div>
    <div class="modal" id="ConfirmationModal" style="display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                        <h5 class="modal-title text-primary">Congrats, Saving Created!</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="ConfirmationModal" aria-label="Close" id="CloseSavingModal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body" id="ConfirmationModalBody">
                        
                    </div>
                    <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                        <button asp-action="AddSavingConfirmation" asp-controller="Savings" type="submit" id="btnSaveSavings" class="btn btn-primary">Amazing, Let's Continue</button>
                        <button asp-action="AddSavingCancel" asp-controller="Savings" asp-all-route-data="Cancelparms" type="submit" id="btnCancelSavings" class="btn btn-danger" data-bs-dismiss="ConfirmationModal">Opps, Delete!</button>
                    </div>
                </div>
            </div>
        </div>
</form>
<div class="fixed-top">
    <div class="d-flex container justify-content-end">
        <a asp-action="Index" asp-controller="Home"><i style="font-size: 40px;" class="ps-2 bi bi-x text-white"></i></a>
    </div>
</div>
<div id="snackbar"></div>

<script>
    const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    const monthlist = ["Jan","Feb","Mar","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"];
    var Status = "@ViewBag.PageStatus"
    document.addEventListener("load", CheckPageStatus(Status)); 

    function CHeckPageStatus(Status)
    {
        var HtmlText = ''

        if(Status == "Confirmation")
        {
            var isRegularSaving = "@ViewBag.isRegularSaving";
            var GoalDate = "@ViewBag.GoalDate";
            var SavingName = "@ViewBag.SavingsName";
            var SavingGoal = "@ViewBag.SavingsGoal";
            var RegularSavingValue = "@ViewBag.RegularSavingValue";
            var SavingType = "@ViewBag.SavingsType";

            if(isRegularSaving == 'True')
            {
                var FullDate = Date.parse(GoalDate)
                Day = weekday[FullDate.getDay()];
                DateNumber = FullDate.getDay();
                month = monthlist[FullDate.getMonth()];
                year = FullDate.getFullYear();

                GoalDate = day+' '+DateNumber+' '+month+' '+year

                if(SavingType == 'TargetDate')
                {
                    HtmlText = '<div class="ms-4 mb-1 mt-4 ps-2 text-primary"><h3>Congrats you created a Regular Saving for your ' + SavingName + '</h3><p> You have created a '+ SavingType+' Regular Savings with a Target of £'+SavingGoal+' by the '+GoalDate+'. This will required you to save £'+RegularSavingValue+' Each day.</p></div>'
                }
                else if(SavingType == 'SavingBuilder')
                {
                    HtmlText = '<div class="ms-4 mb-1 mt-4 ps-2 text-primary"><h3>Congrats you created a Regular Saving for your' + SavingName + '</h3><p> You have created a '+ SavingType+' Regular Savings you plan to save £'+RegularSavingValue+' Each day. Lets get going!</p></div>'
                }
                else if(SavingType == 'TargetAmount')
                {
                    HtmlText = '<div class="ms-4 mb-1 mt-4 ps-2 text-primary"><h3>Congrats you created a Regular Saving for your' + SavingName + '</h3><p> You have created a '+ SavingType+' Regular Savings you are trying to save £'+SavingGoal+ ' By Saving £' +RegularSavingValue+' Each day. If you keep it up you will reach your goal by'+GoalDate+'!</p></div>'
                }
            }
            else if(isRegularSaving == 'False')
            {
                '<div class="ms-4 mb-1 mt-4 ps-2 text-primary"><h3>Congrats you created a Saving Category for your' + SavingName + '</h3><p>Get Saving, you can do it! And dont forget you can add to your saving every payday or at any time!</p></div>'
       
            }
            document.getElementById('ConfirmationModalBody').innerHTML = HtmlText
            document.getElementById('ConfirmationModal').style.display = "block";
        }
        else if(status == 'Cancel')
        {
            ShowCancelConfirmation();
        }
    }

    function ShowCancelConfirmation()
    {
        var message = 'Your Saving wasnt created, Whats wrong you scard?'
        var x = document.getElementById("snackbar");
        x.innerHTML = message;
        
        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
