@model UserHomePageModel;


@{
    ViewData["Title"] = "User Dashboard";  
    var id = ViewContext.RouteData.Values["id"];
    var ReMess = ViewContext.RouteData.Values["ReMess"];
}

<div class="">
    <div id="BudgetInfo">
        <div class="card text-white bg-white mb-3 shadow">
            <div class="card-header p-2 d-flex justify-content-between border-bottom border-primary" style="background-color: #FFCC98;">
                <h8 class="col-6 text-dark">Budget Info</h8>
                <div class="d-flex justify-content-end col-4 align-items-center">
                    <a style="text-decoration: none" asp-controller="Budgets" asp-action="EnterBudgetDetails"><p class="text-dark d-flex align-items-center m-0" style="font-size: 12px;"> NEW</p></a>
                </div>
            </div>
            <div class="card-body">
                <div id="MoneyInfo"></div>
                <div id="nextIncomeEventInfo"></div>
            </div>
            <div class="bg-light text-dark d-flex align-items-center justify-content-start border-top border-grey">
                <p class="m-0 pt-1 ps-2" style="font-size: 12px"><a asp-action="EnterBudgetDetails" asp-controller="Budgets">Edit Budget Settings</a></p>
            </div>
        </div>
    </div>
    <div id="BugetInfo"></div>
    <div id="TransactionHistory"></div>
    <div id="BillsInfo"></div>
    <div id="SavingsInfo"></div>
</div>
@*<partial name="~/Views/Shared/_PVDatePicker.cshtml" />*@
    <div id="myPartialViewDiv">
    </div>
<button type="button" class="btn btn-primary" onclick="OpenModal();">Open modal</button>
<div class="alert alert-dismissible p-2 alert-danger" id="snackbar">
    <div class="d-flex">
        <div id="SnackBarMessage" class="col-11 pe-1"></div>
        <button type="button" class="btn-close p-3" data-bs-dismiss="alert"></button>       
    </div>
</div>

<script>

    function OpenModal(){
        document.getElementById('DatePickerContainter').style.display = 'block';
    }

    $(document).ready(function () {
        $.get({
            url: '/Home/LoadDatePicker/',
            data: {
                textElement: 'txtTransactionAmount',
                InputElement: 'TransactionAmount',
                DateFormat: 'dd MMMM yyyy'
            },

            success: function (result) {
                $("#myPartialViewDiv").html(result);
            },

            error: function (xhr, exception) {
                return false;
            }
        });
    })

    document.addEventListener("load", CheckReMessage('@ReMess'));

    function CheckReMessage(ReMess){
        if (ReMess == '')
        {

        }
        else
        {
            ShowSnackBar(ReMess, 'success')
        }

    }

    function ShowSnackBar(Message, Type) {

        var x = document.getElementById("SnackBarMessage");

        if (Message == 'BillCreated') {
            x.innerHTML = "<div><strong>Congrats</strong> you set up <strong>" + '@TempData["BillName"]' + "</strong> as a Bill for <strong>£" + '@TempData["BillAmount"]' + "</strong> which will require you to save <strong>£" + '@TempData["BillDailyValue"]' + "</strong> a day!</div>"
        }
        else if (Message == 'SavingCreated') {
            x.innerHTML = "<div><strong>Congrats</strong> you set up <strong>" + '@TempData["SavingsName"]' + "</strong> as a Saving for <strong>£" + '@TempData["SavingsGoal"]' + "</strong> which will required you to save <strong>£" + '@TempData["RegularSavingValue"]' + "</strong> a day!</div>";
        }
        else if (Message == 'SavingCancelled') {
            x.innerHTML = '<div>Youve back out of creating the <strong>Saving</strong>, Whats wrong you scared? Dont worry we believe in you!</div>'
        }
        else if (Message == 'BillCancelled') {
            x.innerHTML = '<div>You <strong>Deleted</strong> your Bill, This doesnt delete it from life though just in the app it still needs to be paid, so maybe just add it anyway?</div>';
        }
        else if (Message == 'EnvolopeSavingCreated') {
            x.innerHTML = "<div><strong>Congrats</strong> you set up <strong>" + '@TempData["SavingsName"]' + "</strong> as an Envolope Saving for <strong>£" + '@TempData["PeriodSavingValue"]' + ".</strong> We will allocate this amount at the start of every pay day to spend during the month.</div>";
        }

        var y = document.getElementById("snackbar");
        y.className = y.className.replace("alert-success", "");
        y.className = y.className.replace("alert-danger", "");

        if (Type == 'success') {
            y.className = y.className + ' alert-success';
        }
        else if (Type == 'danger') {
            y.className = y.className + ' alert-danger';
        }

        y.className = y.className + " show";

        setTimeout(function () { y.className = y.className.replace("show", ""); }, 6900);
    }
    
</script>

@section Scripts{
    <script>
        //$('#SavingsInfo').load("/Home/AddSavingsTable")
    </script>
}
