@model DailySpendBudgetWebApp.Models.CreateABudgetPageModel

@{
    ViewData["Title"] = "Enter Budget Details";
    Layout = "~/Views/Shared/_LayoutNoFotter.cshtml";
}

<input type="hidden" id="hdnServerDate" value="@ViewBag.CurrentDate" />
<input type="hidden" id="hdnPaymentPeriod" value="@ViewBag.PaymentPeriod" />
<form method="Post">
    <div id="divStage">
    @if (Model != null)
    {
        for (var i = 0; i < Model.Stage.Count; i++)
        {
            <input type="hidden" asp-for="Stage[i]" value="@Model.Stage[i]" />
        }
    }
    </div>
    <div class="bg-transparent" style="min-height: 82vh;">
        <div class="mt-4 row justify-content-center p-2">
            @if (ViewBag.hasBudgetName)
            {
            <div id="divBudgetName" class="card text-white bg-primary mb-3 shadow rounded-4 ms-3 me-3 border-dark w-75">
                <div class="d-flex justify-content-around align-items-center w-100 mt-auto mb-auto">                        
                    <div class="input-container col-9 mb-3">                        
                        <input class="text-white border-bottom border-1 border-dark" style="font-size:20px;" value="@ViewBag.BudgetName" asp-for="BudgetName" type="text" disabled onchange="ChangeDivBudgetNameBorder();" />
                    </div>
                </div>
            </div>
            }
            else
            {
                <div id="divBudgetName" class="card text-white bg-white mb-3 shadow rounded-4 ms-3 me-3 border-dark w-75">
                    <div class="d-flex justify-content-around align-items-center mt-auto mb-auto">                                        
                    <div class="input-container col-9 mb-3" >
                        <input style="font-size:20px;" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Budget Name'" placeholder="Budget Name" asp-for="BudgetName" type="text" required onchange="ChangeDivBudgetNameBorder();"/>
                            <span style="font-size:10px" class="text-danger text-center" asp-validation-for="BudgetName"></span>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="p-2">
            <div class="accordion mb-3 shadow ms-1 me-1 " id="divBudgetSettings">
                <div class="accordion-item">
                    <h2 class="accordion-header text-white" id="headingTwo">
                        <div class="d-flex align-items-center justify-content-center m-0 p-0">                            
                            <button id="AccordionDetails" class="accordion-button text-white bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="UpdateDetailsAccordianStage()">
                                Budget Period and Balance Details
                            </button>
                        </div>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                        <div id ="DetailsAccordion" class="accordion-body p-1">
                            <div class="ps-4 pe-4 mt-3">
                                <label class="d-flex form-label ms-2 mb-2 text-primary" asp-for="StartingBalance"></label>
                                <div class="input-group w-75">
                                    <input id="txtStartingBalance" type="text" class="form-control rounded-3 pe-2 pt-2 pb-2" style="cursor: pointer; color: #38b44a; width: 50%" value="@Model.StartingBalance" data-type="currency" placeholder="£0.00" onfocus="this.placeholder = '';" onchange="UpdateHdnStartingBalance();" onblur="this.placeholder = '£0.00';" />
                                    <input type="hidden" asp-for="StartingBalance" />
                                </div>
                            </div>
                            <div class="ps-4">
                                <span asp-validation-for="StartingBalance" style="font-size:8pt" class="text-danger text-center"></span>
                            </div>
                            <div class="ps-4 pe-4 mt-3">
                                <label class="d-flex form-label ms-2 mb-2 text-primary" asp-for="NextPayDayAmount"></label>
                                <div class="input-group w-75">
                                    <input id="txtNextPayDayAmount" type="text" class="form-control rounded-3 pe-2 pt-2 pb-2" style="cursor: pointer; color: #38b44a; width: 50%" value="@Model.NextPayDayAmount" data-type="currency" placeholder="£0.00" onfocus="this.placeholder = '';" onchange="UpdateHdnNextPayDayAmount();" onblur="this.placeholder = '£0.00';" />
                                    <input asp-for="NextPayDayAmount" type="hidden"/>
                                </div>
                            </div>
                            <div class="ps-4">
                                <span asp-validation-for="NextPayDayAmount" style="font-size:8pt" class="text-danger text-center"></span>
                            </div>
                            <div id="payinfo" class="ps-4 pe-4 mt-3">
                                <label asp-for="NextIncomeDate" class="d-flex form-label ms-2 mb-2 text-primary"></label>
                                <input class="form-control text-secondary w-75" type="date" asp-for="NextIncomeDate" value="@Model.NextIncomeDate"/>
                            </div>
                            <div class="ps-4">
                                <span asp-validation-for="NextIncomeDate" style="font-size:8pt" class="text-danger text-center"></span>
                            </div>
                            <div class="ms-4 mb-1 mt-4 ps-2 text-primary">
                            </div>
                            <div class="text-primary mb-3 ps-3">I want my budgeting Period to be ...</div>
                            <fieldset class="form-group">
                                <div style="font-size: 10pt;" class="ms-5 me-4 justify-content-between" id="PayRadioButtons">
                                    <div class="form-check col-10 p-0">
                                        <input type="hidden" asp-for="Everynth" value="@Model.Everynth" />
                                        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="@Model.Everynth" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios1" id="lblOptionsRadios1">
                                            Every nth ...
                                        </label>
                                    </div>
                                    <div class="form-check col-10 p-0">
                                        <input type="hidden" asp-for="WorkingDays" value="@Model.WorkingDays" />
                                        <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="@Model.WorkingDays" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios2" id="lblOptionsRadios2">
                                            ... Working days before end of month
                                        </label>
                                    </div>
                                    <div class="form-check col-10 p-0">
                                        <input type="hidden" asp-for="OfEveryMonth" value="@Model.OfEveryMonth" />
                                        <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked="@Model.OfEveryMonth" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios3" id="lblOptionsRadios3">
                                            on the ... of every month
                                        </label>
                                    </div>
                                    <div class="form-check col-10 p-0">
                                        <input type="hidden" asp-for="LastOfTheMonth" value="@Model.LastOfTheMonth" />
                                        <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios4" value="option3" checked="@Model.LastOfTheMonth" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios4" id="lblOptionsRadios4">
                                           on the last ... of the month
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="ps-4">
                                <span asp-validation-for="LastGivenDayOfWeekPay" style="font-size:8pt" class="text-danger text-center"></span>
                            </div>
                            <div class="mt-4 mb-1 pb-3 pe-1 border-bottom border-secondary d-flex">
                                <div id="divPeriodicPay" style="display: none;" class="ps-2 col-12 justify-content-end align-items-center">
                                    <div class="text-center me-1" style="display: flex">
                                        <span class="text-primary form-label mb-0">Every</span>
                                    </div>
                                    <div class="text-center me-1" style="display: flex">
                                        <input style="max-width: 50px" class="form-control text-primary text-center" type="Number" min="1" max="28" asp-for="PeriodicPayPeriod" value="@Model.PeriodicPayPeriod" />
                                    </div>
                                    <div class="" style="display: flex">
                                        <div class="DropDown">
                                            <select class="form-select text-primary text-center" id="PeriodicPayPeriodDDL" data-form-type="" asp-for="PeriodicPayPeriodDDL" value="@Model.PeriodicPayPeriodDDL">
                                                <option>days</option>
                                                <option>weeks</option>
                                                <option>months</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="divLastDayOfMonthPay" style="display: none;" class="ps-2 col-12 justify-content-end align-items-center">
                                    <div class="text-center me-1">
                                        <input style="max-width: 50px" class="form-control text-primary text-center" type="Number" min="1" max="28" asp-for="LastDayOfMonthPayPeriod" value="@Model.LastDayOfMonthPayPeriod" />
                                    </div>
                                    <div class="text-center">
                                        <span class="text-primary form-label mb-0">Working days before end of month</span>
                                    </div>
                                </div>
                                <div id="divGivenDayOfMonthPay" style="display: flex;" class="ps-2 col-12 justify-content-end align-items-center">
                                    <div class="text-center me-1">
                                        <span class="text-primary form-label mb-0">On the </span>
                                    </div>
                                    <div class="text-center me-1">
                                        <input style="max-width: 50px" class="form-control text-primary text-center" type="Number" min="1" max="28" asp-for="GivenDayOfMonthPayPeriod" value="@Model.GivenDayOfMonthPayPeriod" />
                                    </div>
                                    <div class="text-center">
                                        <span class="text-primary form-label mb-0"> of every month</span>
                                    </div>
                                </div>
                                <div id="divLastGivenDayOfWeekPay" style="display: none;" class="ps-2 col-12 justify-content-end align-items-center">
                                    <div class="text-center me-1">
                                        <span class="text-primary form-label mb-0">On the Last</span>
                                    </div>
                                    <div class="text-center me-1 dropdown">
                                        <select class="form-select text-primary" asp-for="LastGivenDayOfWeekPay" data-form-type="" value="@Model.LastGivenDayOfWeekPay">
                                            <option>Monday</option>
                                            <option>Tuesday</option>
                                            <option>Wednesday</option>
                                            <option>Thursday</option>
                                            <option>Friday</option>
                                            <option>Saturday</option>
                                            <option>Sunday</option>
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <span class="text-primary form-label mb-0"> of the month</span>
                                    </div>
                                </div>
                            </div>                            
                            <div id="divSaveBudgetDetails" class="d-flex align-items-center justify-content-end">
                                <button type="submit" asp-action="EditBudgetDetailsStage" asp-controller="Budgets" id="btnEditBudgetDetails" class="btn btn-dark" style="display: none;">Edit Details</button>
                                <button type="submit" asp-action="SaveBudgetDetails" asp-controller="Budgets" id="btnSaveBudgetDetails" class="btn btn-primary">Save Budget Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                            
            <div class="accordion mb-1 shadow ms-1 me-1 " id="divBudgetSettings">
                <div class="accordion-item">
                    <h2 class="accordion-header text-white" id="headingOne">
                        <div>
                            <button id="AccordionSettings" class="accordion-button text-white bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="UpdateSettingsAccordianStage()">
                                Budget Settings!
                            </button>
                        </div>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                        <div id="SettingsAccordion" class="accordion-body p-1">
                            <div class="DropDown">
                                <label asp-for="CurrencyDDL" id="lblCurrencyDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('CurrencyDDL');" asp-for="CurrencyDDL" asp-items=ViewBag.CurrencyDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-primary m-2 ms-3 me-3"></div>
                            </div>
                            <div class="DropDown">
                                <label asp-for="NumberFormatDDL" id="lblNumberFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('NumberFormatDDL');" id="NumberFormatDDL" asp-for="NumberFormatDDL" asp-items=ViewBag.NumberFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-primary m-2 ms-3 me-3"></div>
                            </div>
                            <div class="DropDown">
                                <label asp-for="CurrencyPlacementDDL" id="lblCurrencyPlacementDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('CurrencyPlacementDDL');" asp-for="CurrencyPlacementDDL" asp-items=ViewBag.CurrencyPlacementDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-primary m-2 ms-3 me-3"></div>
                            </div>
                            <div class="DropDown mb-1 pb-3 pe-1 border-bottom border-secondary">
                                <label asp-for="DateFormatDDL" id="lblDateFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('DateFormatDDL');" asp-for="DateFormatDDL" asp-items=ViewBag.DateFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-primary m-2 ms-3 me-3"></div>
                            </div>
                            <div id="divSaveBudgetSettings" class="d-flex align-items-center justify-content-end">
                                <button type="submit" asp-action="EditBudgetSettingsStage" asp-controller="Budgets" id="btnEditBudgetSettings" class="btn btn-dark" style="display: none;">Edit Settings</button>
                                <button type="submit" asp-action="SaveBudgetSettings" asp-controller="Budgets" id="btnSaveBudgetSettings" class="btn btn-primary">Save Budget Settings</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SummaryIncomeDetails" style="display: none;" class="card text-white bg-primary mb-3 shadow">
            <div class="card-header p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Payday Baby!</h5>
                    <a href="#" id="EditIncomeDetails" class="text-white"><i class="bi bi-pencil-square text-white"></i></a>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="card-text">
                    <div id="divMessageStringOne" class="pb-2"></div>
                    <div id="divMessageStringTwo" class="pb-2"></div>
                </div>
            </div>
        </div>
        <div class="p-3 pt-1 pb-2">
            <div id="SavingsSummary">
            </div>
            <div id="OpenSavingsDetails" class="mt-3">
                <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Some Savings &nbsp;<i class="bi bi-piggy-bank text-white"></i></a>
            </div>
        </div>
        <div class="p-3 pt-1 pb-2">
            <div id="BillsSummary">
            </div>
            <div id="OpenBillsDetails" class="mt-3">
                <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Some Bills &nbsp;<i class="bi bi-receipt text-white"></i></a>
            </div>
        </div>
        <div class="p-2">
            <div id="OpenIncomeDetails" class="p-2">
                <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Extra Income! &nbsp;<i class="bi bi-cash-stack text-white"></i></a>
            </div>
        </div>        
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="max-width: 80vw;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
              Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
            </div>           
        </div>
    </div>
    <footer class="sticky-bottom m-0 p-0"style="width: 100%">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="btn btn-lg btn-success rounded-1 mb-4 col-10"><i class="bi bi-file-earmark-plus"></i> &nbsp Create Budget</button>
        </div>
    </footer>
    <div class="modal ps-4 pe-4" id="DeleteSavingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-primary">
                    <h5 class="modal-title">Delete the Saving?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="DeleteSavingModal" aria-label="Close" id="DeleteSavingModalClose">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0 text-secondary" id="textDeleteSavingModal"></p>
                </div>
                <div class="modal-footer border-top border-primary p-0">
                    <button id="btnDeleteSaving" type="submit" asp-action="DeleteSaving" asp-controller="Budgets" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="DeleteSavingModal" id="btnDeleteSavingModalClose">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="SavingsModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                    <h5 class="modal-title text-primary">Add a Saving to your Budget</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="SavingsModal" aria-label="Close" id="CloseSavingModal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="SavingsInfo">
                    </div>
                </div>
                <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                    <button asp-controller="Budgets" asp-action="AddSavingBudget" type="submit" id="btnSaveSavings" class="btn btn-primary" onclick="ClearDisabled()">Save changes</button>
                    <button type="button" id="btnCancelSavings" class="btn btn-danger" data-bs-dismiss="SavingsModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="BillsModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                    <h5 class="modal-title text-primary">Add a Bill to your Budget</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="BillsModal" aria-label="Close" id="CloseBillsModal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="BillsInfo">
                    </div>
                </div>
                <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                    <button type="button" id="btnSaveBills" class="btn btn-primary">Save changes</button>
                    <button type="button" id="btnCancelBills" class="btn btn-danger" data-bs-dismiss="BillsModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="alert alert-dismissible p-2 alert-danger" id="snackbar">
    <div class="d-flex">
        <div id="SnackBarMessage" class="col-11 pe-1"></div>
        <button type="button" class="btn-close p-2 " data-bs-dismiss="alert"></button>
    </div>
</div>

<script>

    var Stage = [];
    
    document.addEventListener("load", CheckStage(), CheckSnackBarMess(), UpdateHdnNextPayDayAmount(), UpdateHdnStartingBalance());


    const weekday = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    const monthlist = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec'];
    const NoOfDaysMonth = [31,28,31,30,31,30,31,31,30,31,30,31];

    const modal = document.getElementById("modal");
    const SavingsModal = document.getElementById("SavingsModal");
    const summary = document.getElementById("SummaryIncomeDetails");
    const open = document.getElementById("OpenIncomeDetails") ;
    const btnOpen = document.getElementById("OpenIncomeDetails");
    const btnCancel = document.getElementById("btnCancelModal");
    const btnCloseModal = document.getElementById("btnCloseModal");
    const btnSaveIncome = document.getElementById("btnSaveIncome");
    const btnEditIncome =  document.getElementById("EditIncomeDetails");
    const btnAddSavings = document.getElementById("btnAddSavings");
    const btnNoSavings = document.getElementById("btnNoSavings");
    const btnSaveSavings = document.getElementById("btnSaveSavings");
    const btnCancelSavings = document.getElementById("btnCancelSavings");

    function ClearDisabled() 
    {
        document.getElementById('txtRegularSavingValue').disabled = false;
        document.getElementById('GoalDate').disabled = false;
        document.getElementById('ddlSavingsPeriod').disabled = false;
    }

    function UpdateHdnNextPayDayAmount() {
        var txtNextPayDayAmount = document.getElementById('txtNextPayDayAmount').value;
        var numNextPayDayAmount = txtNextPayDayAmount.replace('£', '').replace(',', '');
        document.getElementById('NextPayDayAmount').value = numNextPayDayAmount;
    }

    function UpdateHdnStartingBalance() {
        var txtStartingBalance = document.getElementById('txtStartingBalance').value;
        var numStartingBalance = txtStartingBalance.replace('£', '').replace(',', '');
        document.getElementById('StartingBalance').value = numStartingBalance;
    }

    function CheckSnackBarMess()
    {
        if ('@ViewBag.SnackBarMess' != null && '@ViewBag.SnackBarType' != null &&'@ViewBag.SnackBarMess' != "" && '@ViewBag.SnackBarType' != "") {
            ShowSnackBar('@ViewBag.SnackBarMess', '@ViewBag.SnackBarType')
        }
    }

    function CheckStage()
    {
        @foreach (string item in Model.Stage)
        {
            @:Stage.push('@item');
        }

        if (Stage.includes('Initial')) 
        {

        }

        if (Stage.includes('SaveBD')) {
            
            document.getElementById('btnSaveBudgetDetails').style.display = 'none'
            document.getElementById('btnEditBudgetDetails').style.display = 'block'
            document.getElementById('txtStartingBalance').disabled = 'true'
            document.getElementById('txtNextPayDayAmount').disabled = 'true'
            document.getElementById('NextIncomeDate').disabled = 'true'
            document.getElementById('optionsRadios1').disabled = 'true'
            document.getElementById('optionsRadios2').disabled = 'true'
            document.getElementById('optionsRadios3').disabled = 'true'
            document.getElementById('optionsRadios4').disabled = 'true'
            document.getElementById('PeriodicPayPeriod').disabled = 'true'
            document.getElementById('PeriodicPayPeriodDDL').disabled = 'true'
            document.getElementById('LastDayOfMonthPayPeriod').disabled = 'true'
            document.getElementById('GivenDayOfMonthPayPeriod').disabled = 'true'
            document.getElementById('LastGivenDayOfWeekPay').disabled = 'true' 
            document.getElementById('DetailsAccordion').style.background = '#e9ecef'
        }

        if (Stage.includes('EditBD')) {

            document.getElementById('btnSaveBudgetDetails').style.display = 'block'
            document.getElementById('btnEditBudgetDetails').style.display = 'none'
            document.getElementById('txtStartingBalance').enabled = 'true'
            document.getElementById('txtNextPayDayAmount').enabled = 'true'
            document.getElementById('NextIncomeDate').enabled = 'true'
            document.getElementById('optionsRadios1').enabled = 'true'
            document.getElementById('optionsRadios2').enabled = 'true'
            document.getElementById('optionsRadios3').enabled = 'true'
            document.getElementById('optionsRadios4').enabled = 'true'
            document.getElementById('PeriodicPayPeriod').enabled = 'true'
            document.getElementById('PeriodicPayPeriodDDL').enabled = 'true'
            document.getElementById('LastDayOfMonthPayPeriod').enabled = 'true'
            document.getElementById('GivenDayOfMonthPayPeriod').enabled = 'true'
            document.getElementById('LastGivenDayOfWeekPay').enabled = 'true'
            document.getElementById('DetailsAccordion').style.background = 'white'
        }

        if (Stage.includes('SaveBS')) {
            document.getElementById('btnSaveBudgetSettings').style.display = 'none'
            document.getElementById('btnEditBudgetSettings').style.display = 'block'
            document.getElementById('CurrencyDDL').disabled = 'true'
            document.getElementById('NumberFormatDDL').disabled = 'true'
            document.getElementById('CurrencyPlacementDDL').disabled = 'true'
            document.getElementById('DateFormatDDL').disabled = 'true'
            document.getElementById('SettingsAccordion').style.background = '#e9ecef'
        }

        if (Stage.includes('EditBS')) {
            document.getElementById('btnSaveBudgetSettings').style.display = 'block'
            document.getElementById('btnEditBudgetSettings').style.display = 'none'
            document.getElementById('CurrencyDDL').enabled = 'true'
            document.getElementById('NumberFormatDDL').enabled = 'true'
            document.getElementById('CurrencyPlacementDDL').enabled = 'true'
            document.getElementById('DateFormatDDL').enabled = 'true'
            document.getElementById('SettingsAccordion').style.background = 'white'
        }

        if (Stage.includes('DetailsAccordianClosed')) { 
            $('#AccordionDetails').addClass('collapsed')
            $('#collapseTwo').removeClass('show')
            $('#AccordionDetails').attr("aria-expanded", "false");
        }

        if (Stage.includes('SettingsAccordianClosed')) {
            $('#AccordionSettings').addClass('collapsed')
            $('#collapseOne').removeClass('show')
            $('#AccordionSettings').attr("aria-expanded", "false");
        }

        if (Stage.includes('EditSaving')) 
        {
            $('#SavingsInfo').load("/Budgets/AddSavingPV/Edit/@Model.SavingID");
            document.getElementById("SavingsModal").style.display = "block"            
        }
    }



    function ChangeDivBudgetNameBorder()
    {
        var x = document.getElementById("divBudgetName")
        if (document.getElementById("BudgetName").value == '')
        {            
            if (x.className.includes("border-primary"))
            {
                x.className = x.className.replace("border-primary", "border-dark");
            }           
        }
        else
        {
            if (x.className.includes("border-dark")) {
                x.className = x.className.replace("border-dark", "border-primary");
            }
        }            
    }    

    document.getElementById("OpenSavingsDetails").onclick = function()
    {
        document.getElementById("SavingsModal").style.display = "block"
        $('#SavingsInfo').load("/Budgets/AddSavingPV/New");
    }

    document.getElementById("OpenBillsDetails").onclick = function () {
        document.getElementById("BillsModal").style.display = "block"
        $('#BillsInfo').empty();
        $('#BillsInfo').load("/Budgets/AddBillPV");
    }

    document.getElementById("CloseSavingModal").onclick = function () {
        document.getElementById("SavingsModal").style.display = "none";
        DeleteEditSavingFromStage()
    }

    document.getElementById("btnCancelSavings").onclick = function () {
        document.getElementById("SavingsModal").style.display = "none";
        DeleteEditSavingFromStage()
    }


    document.getElementById("DeleteSavingModalClose").onclick = function () {
        document.getElementById("DeleteSavingModal").style.display = "none";
    }

    document.getElementById("btnDeleteSavingModalClose").onclick = function () {
        document.getElementById("DeleteSavingModal").style.display = "none";
    }

    document.getElementById("CloseBillsModal").onclick = function () {
        document.getElementById("BillsModal").style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal || event.target == SavingsModal || event.target == BillsModal || event.target == DeleteSavingModal) {
            //modal.style.display = "none";
            SavingsModal.style.display = "none";
            BillsModal.style.display = "none";
            DeleteSavingModal.style.display = "none";
            DeleteEditSavingFromStage()
        }
    }

    const PeriodicPay = document.getElementById('divPeriodicPay');
    const GivenPay = document.getElementById('divGivenDayOfMonthPay');
    const LastPay = document.getElementById('divLastDayOfMonthPay');
    const GivenDay = document.getElementById('divLastGivenDayOfWeekPay');
   

    function handleIncomeRadioClick() {
        if (document.getElementById('optionsRadios1').checked) 
        {
            PeriodicPay.style.display = 'flex';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
            document.getElementById('Everynth').value = "True"
            document.getElementById('WorkingDays').value = "False"
            document.getElementById('OfEveryMonth').value = "False"
            document.getElementById('LastOfTheMonth').value = "False"

            } 
        else if (document.getElementById('optionsRadios2').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'flex';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
            document.getElementById('Everynth').value = "False"
            document.getElementById('WorkingDays').value = "True"
            document.getElementById('OfEveryMonth').value = "False"
            document.getElementById('LastOfTheMonth').value = "False"
        }
        else if (document.getElementById('optionsRadios3').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'flex';
            GivenDay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
            document.getElementById('Everynth').value = "False"
            document.getElementById('WorkingDays').value = "False"
            document.getElementById('OfEveryMonth').value = "True"
            document.getElementById('LastOfTheMonth').value = "False"
        }
        else if (document.getElementById('optionsRadios4').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'flex';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-primary"
            document.getElementById('Everynth').value = "False"
            document.getElementById('WorkingDays').value = "False"
            document.getElementById('OfEveryMonth').value = "False"
            document.getElementById('LastOfTheMonth').value = "True"
        }
    }

    const radioButtons = document.querySelectorAll('input[name="optionsRadios"]');

    radioButtons.forEach(radio => {
    radio.addEventListener('click', handleIncomeRadioClick);
    });

    function onSelectionChangeWLabel(Element){
        const ChangeElement = document.getElementById(Element);
        const lblChangeElement = document.getElementById('lbl'+Element);
        ChangeElement.className="form-control w-75 ms-4 border-0 text-primary p-0 ps-4";
        lblChangeElement.className = "d-flex form-label ms-4 mb-0 text-primary"
    }

    $(document).ready(handleIncomeRadioClick());

    function ShowSnackBar(Message, Type) {

        var x = document.getElementById("SnackBarMessage");

        if (Message == 'BudgetDetailsSaved') {
            x.innerHTML = "<div><strong>Congrats</strong> you have saved your <strong>Budgets</strong> Details"
        }
        else if (Message == 'BudgetSettingsSaved') {
            x.innerHTML = "<div><strong>Congrats</strong> you have saved your <strong>Budgets</strong> Settings"
        }
        else if (Message == 'NewSavingAdded') {
            x.innerHTML = "<div><strong>Congrats</strong> you have added " + "@Model.SavingsName" + " as a new <strong>Saving</strong> to your budget"
        }
        else if (Message == 'SavingEdited') {
            x.innerHTML = "<div>You have edited the saving <strong>" + "@Model.SavingsName" + "</strong>, hopefully saving more money now!"
        }
        else if (Message == 'DeleteSaving') {
            x.innerHTML = "<div>You have <string>Deleted</strong> the saving <strong>" + "@Model.SavingsName" + "</strong>, I wouldn't have done that!"
        } 

        var y = document.getElementById("snackbar");
        y.className = y.className.replace("alert-success", "");
        y.className = y.className.replace("alert-danger", "");

        if (Type == 'success') {
            y.className = y.className + ' alert-success';
        }
        else if (Type == 'danger') {
            y.className = y.className + ' alert-danger';
        }

        y.className = y.className + " show";

        setTimeout(function () { y.className = y.className.replace("show", ""); }, 6900);
    }

    function DeleteEditSavingFromStage()
    {
        if (Stage.includes('EditSaving'))
        {
            var number = Stage.indexOf('EditSaving');
            Stage[number] = '';
            $('#Stage_' + number + '_').val("");
        }
    }

    function UpdateDetailsAccordianStage() 
    {

        if (document.getElementById('AccordionDetails').ariaExpanded == 'true') 
        {
            if (Stage.includes('DetailsAccordianClosed')) 
            {
                var number = Stage.indexOf('DetailsAccordianClosed');
                Stage[number] = 'DetailsAccordianOpen';
                $('#Stage_' + number + '_').val("DetailsAccordianOpen");
            }
            else if (Stage.includes('DetailsAccordianOpen')) 
            {

            }
            else 
            {
                var number = Stage.length;
                $('#divStage').append('<input type="hidden" value="DetailsAccordianOpen" id="Stage_' + number + '_" name="Stage[' + number + ']">');
                Stage.push('DetailsAccordianOpen');
            }
        }
        else 
        {
            if (Stage.includes('DetailsAccordianOpen')) 
            {
                var number = Stage.indexOf('DetailsAccordianOpen');
                Stage[number] = 'DetailsAccordianClosed';
                $('#Stage_' + number + '_').val("DetailsAccordianClosed");

            }
            else if (Stage.includes('DetailsAccordianClosed')) 
            {

            }
            else 
            {
                var number = Stage.length;
                $('#divStage').append('<input type="hidden" value="DetailsAccordianClosed" id="Stage_' + number + '_" name="Stage[' + number + ']">');
                Stage.push('DetailsAccordianClosed');
            }
        }
    }

    function UpdateSettingsAccordianStage() 
    {
        if (document.getElementById('AccordionSettings').ariaExpanded == 'true') 
        {
            if (Stage.includes('SettingsAccordianClosed')) 
            {
                var number = Stage.indexOf('SettingsAccordianClosed');
                Stage[number] = 'SettingsAccordianOpen';
                $('#Stage_' + number + '_').val("SettingsAccordianOpen");
            }
            else if (Stage.includes('SettingsAccordianOpen')) 
            {

            }
            else 
            {
                var number = Stage.length;
                $('#divStage').append('<input type="hidden" value="SettingsAccordianOpen" id="Stage_' + number + '_" name="Stage[' + number + ']">');
                Stage.push('SettingsAccordianOpen');
            }
        }
        else 
        {
            if (Stage.includes('SettingsAccordianOpen')) 
            {
                var number = Stage.indexOf('SettingsAccordianOpen');
                Stage[number] = 'SettingsAccordianClosed';
                $('#Stage_' + number + '_').val("SettingsAccordianClosed");

            }
            else if (Stage.includes('SettingsAccordianClosed')) 
            {

            }
            else 
            {
                var number = Stage.length;
                $('#divStage').append('<input type="hidden" value="SettingsAccordianClosed" id="Stage_' + number + '_" name="Stage[' + number + ']">');
                Stage.push('SettingsAccordianClosed');
            }
        }
    }

    function OpenDeleteSavingModal(id, name, type, goal) {
        $('#textDeleteSavingModal').html('Are you sure you want to delete ' + name + ' from your savings? You had planned to save ' + goal + ' seems like a righteous goal to me!')
        $('#btnDeleteSaving').attr('formaction', '/Budgets/DeleteSaving/' + id);
        $('#DeleteSavingModal').show();
    }


</script>

@section Scripts{
    <script>
        $('#SavingsSummary').load("/Budgets/AddSavingsTable")
    </script>
}
