@model List<Savings>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@if(Model.Count == 0)
{
    <div></div>
}
else
{   
    <div class="d-flex justify-content-end">
        <span style="font-size: 10pt" class="badge bg-dark p-2 me-2 mb-2">Savings</span>
    </div>
    <div class="card text-white shadow">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th style="font-size: 10pt; width: 8%;" scope="col"></th>
                    <th style="font-size: 10pt; width: 8%;" scope="col"></th>
                    <th style="font-size: 10pt; width: 32%;" class="text-dark" scope="col">Name</th>
                    <th style="font-size: 10pt; width: 32%;" class="text-dark" scope="col">Type</th>
                    <th class="text-center text-dark" style="font-size: 10pt; width: 20%;"  scope="col">Goal</th>
                </tr>
            </thead>
            <tbody >
            @foreach(Savings Saving in Model)
            {
                var parms = new Dictionary<string, string>{{ "id", Saving.SavingID.ToString() }};
                <tr style="font-size: 9pt; vertical-align: middle;" class="table-primary">
                    <td class="p-0 text-center"><button class="p-0" style="background-color: transparent; border: none; z-index: 99; font-size: 12pt" type="button" data-toggle="modal" data-target="#DeleteSavingModal" onclick="OpenDeleteSavingModal('@Saving.SavingID','@Saving.SavingsName','@Saving.SavingsType','@if(Saving.SavingsGoal == null){@Saving.RegularSavingValue}else{@Saving.SavingsGoal}')"><i class="bi bi-trash3 text-danger"></i></button></td>
                    <td class="p-0 text-center"><button class="p-0" style="background-color: transparent; border: none; z-index: 99; font-size: 12pt" type="submit" asp-action="EditSaving" asp-controller="Budgets" asp-all-route-data="@parms"><i class="bi bi-pencil-square text-info"></i></button></td>
                    <td >@Saving.SavingsName</td>
                    @if(Saving.isRegularSaving)
                    {
                        <td>@Saving.SavingsType</td>
                    }
                    else
                    {
                        <td>Manual Savings</td>
                    }
                    @if (Saving.SavingsGoal == null)
                    {
                        <td class="text-center">@Saving.RegularSavingValue</td>
                    }
                    else
                    {
                        <td class="text-center">@Saving.SavingsGoal</td>
                    } 

                </tr>
            }
            </tbody>
        </table>
    </div>
}

